{% extends 'base.html' %}

{% block content %}

    <div class="add-country-cta-wrapper">
        <a href="/countries/new"><button type="submit" id="add-button">Add Country</button></a>
    </div>

    <div class="flex-wrapper-position">
        <div class="flex-wrapper">
    {% for country in countries %}
            <div class="flex-child">
                <span>
                    <a href="/countries/{{country.id}}">{{ country.name }}</a>
                    <input type="checkbox">
                </span>
              
                <p>
                  <a href="/countries/{{country.id}}/edit"><button type ="submit" id="edit-button">Edit</button></a>
                </p>
            </div>
        {% endfor %}
      </div>
      </div>
{% endblock content %}