{% extends 'base.html' %}

{% block content %}
    <h2>{{country.name}}</h2>
    <p>
        This is where i'll write some interesting things about each country, list the correct cities that are found in this country
    </p>

    {% for city in cities %}
        <a href="/cities/{{city.id}}">{{city.name}}</a>
        <form action="/cities/{{city.id}}/delete" method="POST"><button type="submit" id="delete-button">Delete City</button></form>
    {% endfor %}
    <a href="/cities/new"><button type="submit" id="add-button">Add City</button></a>


{% endblock content %}