* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}


.navstyle {
    background-color: rgb(245, 87, 48);
    overflow: hidden; 
    color: #fff;
}

.navstyle a {
    float: left;
    padding: 14px 14px;
    text-decoration: none;
    color: #fff;
    font: 20px;
}

h1 {
    text-align: center;
}
h2 {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background-image: url('https://www.miki.co.uk/sites/MikiTravelGlobal/files/slider_One_final.jpg?1687046400046');
    background-size: cover;
    font-family: sans-serif;
}

ul {
    text-align: center;
    list-style: none;
}

.city-style {
    text-align: center;
    
}


