<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Travel Bucket List</title>
</head>
<body>
   <nav class="navstyle">
   <div class="nav-content-wrapper">
      <div>
         <a href="/">Home</a>
         <a href="/countries">Countries</a>
         <a href="/cities">Cities</a>
         <a href="/attractions">Popular Attractions</a>
      </div>

      <div>
        <h1>Travel Bucket List</h1>
      </div>
   </div>
   </nav>


   <section id="content">
      {% block content %}
    
      {% endblock content %}
   </section>


</body>
</html>